:root {
  --select2-toggle-btn-color: #337ab7;
  --select2-toggle-btn-hover: #23527c;
}

.s2-togall-select .s2-unselect-label,
.s2-togall-unselect .s2-select-label {
  display:none;
}

.s2-togall-button {
  display: inline-block;
  font-weight: 400;
  color: var(--select2-toggle-btn-color);
  padding: 8px 3px;
  cursor: pointer;
}

.s2-togall-button:focus,.s2-togall-button:hover {
  color: var(--select2-toggle-btn-hover);
  text-decoration:underline;
  background-color:transparent;
}

.s2-togall-select .s2-select-label,
.s2-togall-unselect .s2-unselect-label {
  display:inline;
}

.s2-select-label, .s2-unselect-label {
  line-height: 1.1;
  font-size: 12px;
}

.s2-select-label .glyphicon, .s2-unselect-label .glyphicon {
  margin: auto 3px;
}

.select2[data-item-width="auto"] .select2-selection--multiple .select2-selection__choice {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.select2[data-item-width="100"] .select2-selection--multiple .select2-selection__choice {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
  overflow: hidden;
}

select[data-item-width="auto"] ~ .select2 .select2-selection--multiple .select2-selection__choice {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

select[data-item-width="100"] ~ .select2 .select2-selection--multiple .select2-selection__choice {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
  overflow: hidden;
}

.wrap-select2 {
  position: relative;
}
.select2-counter {
  pointer-events: none;
  position: absolute;
  right: 25px;
  z-index: 1;
  top: 6.5px;
}

.select2-pre-loading {
  display: none;
  line-height: 28px;
  &.show {
    display: block;
  }
}
.select2-search__field {}
.pre-loading .select2-container {
  display: none;
}

.select2-choice-direction-left.select2-selection--multiple .select2-selection__choice {
  display: inline-flex;
  flex-direction: row;
}

.select2-choice-direction-right.select2-selection--multiple .select2-selection__choice {
  display: inline-flex;
  flex-direction: row-reverse;

  .select2-selection__choice__remove {
    margin-left: 3px;
  }
}

.select2-container .select2-selection--select2-counter .select2-selection__rendered {
  max-height: 28px;
}